<h1>This is the Score Page</h1>

<p>Your grid: <%= params[:grid] %></p>
<p>Your word: <%= params[:word] %></p>

<p><%= @answer %></p>

<p><%= session[:score] %></p>

<%= link_to "Play again", new_path %>


